/* 
    Created on : Oct 8, 2020, 1:20:05 PM
    Author     : Brody
*/
.anchor{
    -fx-background-image: url("../assets/bacon.gif");
    -fx-background-size: 100% 100%;
    
}

.button{
    -fx-font: bold italic 8pt "Arial";
    -fx-effect: dropshadow( one-pass-box , black , 8 , 0.0 , 2 , 0 );
}



